@import url('https://fonts.googleapis.com/css?family=Krona+One|Rum+Raisin');


@import 'globals.scss';

// $fa-font-path: "~font-awesome/fonts";
// @import '~font-awesome/scss/font-awesome.scss';

/*
font-family: 'Rum Raisin', sans-serif;
font-family: 'Krona One', sans-serif;
*/

body {
    margin: 0;
    padding: 0;
    background: #F2F2F2;
}

.app {
    // font-family: 'Krona One', sans-serif;
    font-family: sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    
    @include tablet {
        margin: auto 10%;
    }
    
    a, a:visited {
        text-decoration: none;
        color: inherit;
    }
    
}