

#contact {
    // background-color: rgb(31, 53, 96);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
    .contact-links {
        display: flex;
        justify-content: flex-end;
        // color: rgb(120, 120, 120);
        font-size: 30px;
        
        a {
            // border: 1px solid rgb(120, 120, 120);
            padding: 0 6px;
            margin: 3px;
            
            &:hover {
                border-radius: 5px;
                background-color: rgb(200,200,200);
            }
        }
    }
}