$base-color: black;

$tablet-width: 768px; //768px;
$phone-portrait-width: 425px;
$phone-landscape-width: $tablet-width;
$desktop-width: 1024px;

$header-bg-color: rgb(23,55,97);

@mixin phone-portrait {
  @media (min-width: #{$phone-portrait-width}) {
    @content;
  }
}

@mixin phone-landscape {
    @include tablet;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

/*
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
*/