@import 'globals.scss';

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 20px;
    
    background: $header-bg-color;
    
    .flex-col {
        display: flex;
        flex: 2 1 auto;
        flex-flow: column nowrap;
        // justify-content: space-around;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-start;//stretch;
        
        @include phone-portrait {
            h1 {
                text-align: center;
            }
        }
        @include tablet {
            h1 {
                text-align: left;
            }
        }
    }
    
    .img-flex {
        display: none;
        // order: 0;
        
        @include tablet {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    img {
        border-radius: 50%;
        width: 150px;
    }
    
    h1 {
        font-family: 'Rum Raisin', sans-serif;
        font-size: 45px;
        margin-top: 0;
    }
    
} // /header