@import 'globals.scss';

.nav {
    flex: 3 1 80%;
    width: 100%;
    font-size: 20px;
    background: $header-bg-color;
    > ul {
        display: flex;
        flex-flow: row wrap;
        padding-left: 0;
        
        li {
            list-style: none;
            text-decoration: none;
            padding: 10px;
            flex: 1 1 40%;
            text-align: center;
        } // /li
        
        a, a:visited, a:active {
            text-decoration: none;
            color: inherit;
        }
        
        li:hover {
            color: lighten($base-color, 80%);
        }
        
        @include phone-portrait {
            li, li:hover, li:active, li:visited {
                // flex: 1 1 auto;
            } // /li
        }
        
        @include tablet {
            // flex-flow: row wrap;
            justify-content: space-around;
            li, li:hover, li:active, li:visited {
                flex: 1 1 auto;
            }
        }
        
    } // /ul
    
} // /nav