@import 'globals.scss';

.portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    margin-top: 15px;
    padding: 0 20px;
    
    @include tablet {
        padding: 0;
    }
    
} // /portfolio