/* Viewport must be set in HTML head in order fo @media queries to work */
@import 'globals.scss';



.project {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: stretch;
    border-bottom: 3px solid #bbb;
    // margin: 8px auto;
    padding: 40px 0;
    
    &:nth-child(even) {
        // background: rgba(206, 200, 200, 0.8);
    }

    @include tablet {
        // align-content: center;
        border-bottom: 1px solid #bbb;
        // margin: auto;
        // padding-bottom: 0;
    }
    
    
    
    .project-main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
    }



    .project-img, .project-info {
        flex: 1 1 auto;
        // max-width: 90%;
        
        @include tablet {
            width: 0;
            // margin: 2%;
        }
    }
    
    .project-info {
        order: 0;
        @include tablet {
            order: unset;
            // border-bottom: none;
            // margin-bottom: inherit;
        }
    }
    .project-img {
        // border: 3px solid black;
        order: 2;
        
        img {
            width: 100%;
        }
        
        @include tablet {
            order: unset;
            margin-right: 2%;
        }
    }
    .project-info {
        order: 1;
        
        @include tablet {
            order: unset;
            margin-left: 2%;
        }
    }
    
    .project-links {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        
        a, a:visited {
            margin-right: 20px;
            text-decoration: none;
            color: inherit;
            font-size: 14px;
            
            .fa {
                color: blue;
            }
        }
    }

    
} // /project