@import 'globals.scss';

#resume {
    border-bottom: 3px solid #bbb;
    padding-bottom: 40px;
    
    .res-job-title {
        text-decoration: underline;
    }
    
    .childUL {
        list-style: none;
    }
    
    @include tablet {
        border-bottom: 1px solid #bbb;
    }
    
    #portfolio-link, .fa {
        color: blue;
    }
    #portfolio-link {
        color: blue;
    }
}

.res-section {
    
}