
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 20px;
    
    background: rgb(23,55,97);
    
    .img-flex {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    img {
        border-radius: 50%;
        width: 150px;
    }
    
    h1 {
        font-family: 'Rum Raisin', sans-serif;
        font-size: 45px;
        margin-top: 0;
    }
    
} // /header



@media screen and (min-width: 480px) {
    header {
        // margin: auto 10%;
    }
}