
$base-color: black;

.nav {
    // background: rgb(150,155,163);
    // flex: 3 1 80%;
    // flex-basis: 80%;
    // width: 100%;
    font-size: 20px;
    > ul {
        display: flex;
        // flex-basis: 80%;
        // width: 100%;
        flex-flow: row wrap;
        justify-content: space-around;
        // margin: 0;
        padding-left: 0;
        
        li, li:hover, li:active, li:visited {
            list-style: none;
            text-decoration: none;
            // margin-right: 5px;
            padding: 10px;
        } // /li
        
        li:hover {
            color: lighten($base-color, 80%);
        }
    } // /ul
    
} // /nav