
.project {
    // width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    // align-items: center;
    align-content: stretch;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // transition: 0.3s;
    
    &:hover {
        // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .project-img {
        border: 3px solid black;
        flex: 1 1 auto;
        margin: auto;
        max-width: 450px;
        
        img {
            width: 100%;
        }
    }
    
    .project-info {
        flex: 1 1 auto;
        width: 100%;
        max-width: 450px;
        margin: auto;
    }
    
} // /project


@media screen and (min-width: 480px) {
    .project {
        
    }
}



// .project {
//     width: 100%;
//     diplay: flex;
//     flex-flow: row wrap;
//     justify-content: flex-start;
//     // align-items: stretch;
//     align-content: center;
//     margin: 20px 10px 20px 0;
    
//     img, h3, p {
//         display: block;
//         width: 80%;
//         max-width: $project-width;
//         margin: auto;
//     }
    
//     img {
//         border: 3px solid black;
//         margin-bottom: 4px;
//         padding: 4px;
//     }
    
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     transition: 0.3s;
//     :hover {
//         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//     }
    
// } // /project