
// // @import '../node_modules/normalize-scss/sass/_normalize.scss';
// // @import './nav.scss';


// @import url('https://fonts.googleapis.com/css?family=Krona+One|Rum+Raisin');
// /*
// font-family: 'Rum Raisin', sans-serif;
// font-family: 'Krona One', sans-serif;
// */


// body {
//     font-family: 'Krona One', sans-serif;
//     // margin:0;
// }

// h1 {
//     font-family: 'Rum Raisin', sans-serif;
//     font-size: 45px;
//     // margin-top: 0;
// }

// header {
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: space-around;
//     align-items: center;
//     align-content: center;
    
//     background: rgb(23,55,97);
    
//     img {
//         border-radius: 50%;
//     }
// } // /header