
@import url('https://fonts.googleapis.com/css?family=Krona+One|Rum+Raisin');
@import "~bootstrap/scss/bootstrap.scss";
/*
font-family: 'Rum Raisin', sans-serif;
font-family: 'Krona One', sans-serif;
*/

body {
    margin: 0;
    padding: 0;
}
.app {
    font-family: 'Krona One', sans-serif;
    // margin:0;
    margin: auto 10%;
    padding: 0;
    box-sizing: border-box;
    // width: 100%;
}

.flex-col {
    display: flex;
    flex: 2 1 auto;
    flex-flow: column nowrap;
    // justify-content: space-around;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;//stretch;
}