
.portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    margin-top: 15px;
    
} // /portfolio


@media screen and (min-width: 480px) {
    .portfolio {
        // margin: auto 10%;
    }
}